body {
  margin:0px;
  background-color:rgba(255, 255, 255, 0.498039215686275);
  background-image:none;
  position:static;
  left:auto;
  width:1088px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u263_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:857px;
  height:319px;
}
#u263 {
  border-width:0px;
  position:absolute;
  left:231px;
  top:189px;
  width:857px;
  height:319px;
}
#u264 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:152px;
  width:853px;
  visibility:hidden;
  word-wrap:break-word;
}
#u265_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:647px;
}
#u265 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:169px;
  width:143px;
  height:647px;
}
#u266 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:316px;
  width:139px;
  visibility:hidden;
  word-wrap:break-word;
}
#u267_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:48px;
  color:#009999;
}
#u267 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:23px;
  width:99px;
  height:57px;
  font-size:48px;
  color:#009999;
}
#u268 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u269_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#009999;
}
#u269 {
  border-width:0px;
  position:absolute;
  left:593px;
  top:101px;
  width:222px;
  height:24px;
  font-size:20px;
  color:#009999;
}
#u270 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  white-space:nowrap;
}
#u271_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'DokChampa';
  font-weight:400;
  font-style:normal;
  font-size:40px;
  color:#006699;
}
#u271 {
  border-width:0px;
  position:absolute;
  left:523px;
  top:37px;
  width:361px;
  height:54px;
  font-family:'DokChampa';
  font-weight:400;
  font-style:normal;
  font-size:40px;
  color:#006699;
}
#u272 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  white-space:nowrap;
}
#u273_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:22px;
  background:inherit;
  background-color:rgba(51, 204, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 255, 153, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u273 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:218px;
  width:117px;
  height:22px;
  color:#000000;
}
#u274 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:113px;
  word-wrap:break-word;
}
#u275_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:22px;
  background:inherit;
  background-color:rgba(51, 204, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 255, 153, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u275 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:246px;
  width:117px;
  height:22px;
  color:#000000;
}
#u276 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:113px;
  word-wrap:break-word;
}
#u277_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:191px;
}
#u277 {
  border-width:0px;
  position:absolute;
  left:155px;
  top:198px;
  width:323px;
  height:191px;
}
#u278 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:88px;
  width:319px;
  visibility:hidden;
  word-wrap:break-word;
}
#u279_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:349px;
  height:191px;
}
#u279 {
  border-width:0px;
  position:absolute;
  left:155px;
  top:218px;
  width:349px;
  height:191px;
}
#u280 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:88px;
  width:345px;
  visibility:hidden;
  word-wrap:break-word;
}
#u281_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:40px;
}
#u281 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:169px;
  width:50px;
  height:40px;
}
#u282 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
